
/*--PARAMETRES GLOBAUX-------------------------------------------------------------------------------*/
body {
  background: #00b7a1; /* pour les vieux navigateurs qui ne supportent pas le gradiant */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #00b7a1 0%,
    #009583 100%
  );
  background: radial-gradient(#00b7a1, #009583);
  background-image: url("/img/background.jpg");
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  overflow: visible;
}
html { 
  margin:0;
  padding:0;
  background: url("/img/background.jpg") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
.divStyle {
  display: hide;
}

p {
  color: #013848;
}
h2 {
    font-size: 1.2em;
}
a:hover {
  color: #25b5a2;
}
figure {
	overflow: hidden;
	max-height: 4em;
}

/*--FONT-------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
body {
    font-family: 'Montserrat', 'Lato', sans-serif;
}

/*--MENU-------------------------------------------------------------------------------*/
.navbar-mobile__list li {
  line-height: 3.70em;
  border-top: solid #009583;
  border-width: thin;
}
.navbar-mobile__list li:last-child {
  line-height: 3.70em;
  border-top: solid #009583;
  border-bottom: solid #009583;
  border-width: thin;
}
.navbar-mobile__list li:first-child {
    line-height: 3.70em;
    text-transform: uppercase;
    color: hsla(206, 56%, 19%, .6);
    border: 0.125em solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .2);
    ;
  }
  * {
    box-sizing: border-box;
  }
  &:before {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0vh;
    content: '';
    border-bottom: 100vh solid transparent;
    border-left: 100vw solid rgba(165, 155, 35, .65);
  }
.navbar-mobile__list li:hover {
  color: #00b7a1;
  border-top: solid rgb(228, 228, 228);
  border-bottom: solid rgb(228, 228, 228);
  border-width: thin;
}
.navbar-mobile__list li a {
  color: rgb(228, 228, 228);
  text-transform: uppercase;
}

.navbar-mobile__list a:hover {
  background-color: rgb(228, 228, 228);
  display: block;
  color: #00b7a1;
}
.navbar-mobile {
  background-color: #00b7a1;
  max-width: 24em;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0%;
  width: 13em;
  margin-left: 4em;
}
.navbar-mobile img {
  margin-bottom: 1.2em;
}

.nav-footer {
  margin-top: 5em;
}

.nav-footer p:nth-child(1n + 2) {
  font-size: 0.7em;
}

#logo {
  width: 94%;
  padding-top: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-footer ul {
  font-size: 0.750em;
}
.nav-footer li a {
  color: #013848;
}
.nav-footer li a:hover {
  color: rgb(228, 228, 228);
}
/*--ICON-------------------------------------------------------------------------------*/
i.fa {
  margin: 0.125em;
  color: #013848;
}

/*--Content HomePage-------------------------------------------------------------------------------*/
main.inner.cover {
  width: 35em;
  position: relative;
  background-color: rgba(0, 183, 161, 0.8);
  background-clip: content-box;
  color: rgb(228, 228, 228);
  -webkit-box-shadow: 0.625em 0.625em 0.313em -0.625em rgba(0,0,0,1);
  -moz-box-shadow: 0.625em 0.625em 5px -0.625em rgba(0,0,0,1);
  box-shadow: 0.625em 0.625em 0.313em -0.625em rgba(0,0,0,1);
}
main {
    top: 14.750em; 
    position: absolute; 
    left: 65%; 
    height: 34em;
}
.inner.cover p {
    color: #013848;
    font-weight: 450;
}
.hr-style {
    border: 0;
    height: 0;
    border-top: 0.063em solid rgba(1, 56, 72, 0.1);
    border-bottom: 0.063em solid rgba(0, 183, 161, 0.3); 
    background-color: rgba(1, 56, 72, 0.4);
}
    .btn {
    color: rgb(228, 228, 228);
    background-color: #013848;
    background-image: none;
    border-color: #013848;
    }
    .btn:hover {
        color: #013848;
        background-color: rgb(228, 228, 228);
        border-color: #013848;
    }
    .btn-outline-success:not(:disabled):not(.disabled):active {
        color: rgb(228, 228, 228);
    background-color: #013848;
    border-color: #013848;
}
    .input-group {
        width: 80%;
    }
    .input-group-text {
        background-color: #009583;
        border: 0.063em solid #013848;
        color: #013848;
    }
    input.form-control {
        border: 0.063em solid #013848;
    }
  
  /*--Contenu-------------------------------------------------------------------------------*/
  .contenu {
    width: 60em;
    position: relative;
    background-color: rgba(0, 183, 161, 0.8);
    color: rgb(228, 228, 228);
    -webkit-box-shadow: 0.625em 0.625em 0.313em -0.625em rgba(0,0,0,1);
    -moz-box-shadow: 0.625em 0.625em 0.313em -0.625em rgba(0,0,0,1);
    box-shadow: 0.625em 0.625em 0.313em -0.625em rgba(0,0,0,1);
    margin-top: 15em;
    padding: 0.625em;
  }

  .input-group > .form-control {
    height: 2.5em;
   }

/*--BANDEAU COOKIES-------------------------------------------------------------------------------*/
.cookies {
    width:100%; 
    background:#013848; 
    color:rgb(228, 228, 228); 
    text-align:center; 
    position:absolute; 
    z-index: 50000; 
    height:1.250em; 
    top:0;
    line-height:1.250em; 
    font-size:0.563em;
    left: 0em;
}
p.d-inline {
    color: #009583
}



/*======================
    404 page
=======================*/
.page_404{ 
  padding:2.500em 0; 
  background:rgb(228, 228, 228);
}

.page_404  img{ 
  width:100%;
}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 25em;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:5em;
 }
 
  .four_zero_four_bg h3{
			 font-size:5em;
			 }
			 
			 .link_404{			 
	color: rgb(228, 228, 228)!important;
    padding: 0.625em 1.250em;
    margin: 1.250em 0;
    display: inline-block;
  }

	.contant_box_404{ 
    margin-top:-3.125em;
  }

/*======================
    Module Reserver
=======================*/
  input[type="text"] {
    width: 25em;
    text-transform: capitalize;
    border-color: #013848;
    border: 0.063em solid;
    height: 2em;
    color: #013848;
  }
  .react-datepicker__current-month {
    text-transform: capitalize;
}
.noms {
  margin-left: 15em;
  color:#013848;
}
.btn-reserver {
  width: 80%;
  margin-top: 1em;
  margin-left: 5em;
}
select#couverts {
  border-color: #013848;
 height: 2em;
 color: #013848;
}
.input.form-control {
    height: 2.3em;
}

/*======================
    Gallerie
=======================*/
@-webkit-keyframes closeWindow {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  
  @keyframes closeWindow {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  
  .ril__outer {
  background-color: rgba(0, 0, 0, 0.85);
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  -ms-touch-action: none;
  touch-action: none;
  }
  
  .ril__outerClosing {
  opacity: 0;
  }
  
  .ril__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  
  .ril__image,
  .ril__imagePrev,
  .ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  -ms-touch-action: none;
  touch-action: none;
  }
  
  .ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  }
  
  .ril__navButtons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.250em;
  height: 2.125em;
  padding:2.500em 1.875em;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
  }
  .ril__navButtons:hover {
  opacity: 1;
  }
  .ril__navButtons:active {
  opacity: 0.7;
  }
  
  .ril__navButtonPrev {
  left: 0;
  background: rgba(0, 0, 0, 0.2)
  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==')
  no-repeat center;
  }
  
  .ril__navButtonNext {
  right: 0;
  background: rgba(0, 0, 0, 0.2)
  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+')
  no-repeat center;
  }
  
  .ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-size: cover;
  }
  
  .ril__caption,
  .ril__toolbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  }
  
  .ril__caption {
  bottom: 0;
  max-height: 9.375em;
  overflow: auto;
  }
  
  .ril__captionContent {
  padding:0.625em 1.250em;
  color: rgb(228, 228, 228);
  }
  
  .ril__toolbar {
  top: 0;
  height: 3.125em;
  }
  
  .ril__toolbarSide {
  height: 3.125em;
  margin: 0;
  }
  
  .ril__toolbarLeftSide {
  padding-left: 1.250em;
  padding-right: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .ril__toolbarRightSide {
  padding-left: 0;
  padding-right: 1.250em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  }
  
  .ril__toolbarItem {
  display: inline-block;
  line-height: 3.125em;
  padding: 0;
  color: rgb(228, 228, 228);
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  
  .ril__toolbarItemChild {
  vertical-align: middle;
  }
  
  .ril__builtinButton {
  width: 2.5em;
  height: 2.188em;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  }
  .ril__builtinButton:hover {
  opacity: 1;
  }
  .ril__builtinButton:active {
  outline: none;
  }
  
  .ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5;
  }
  .ril__builtinButtonDisabled:hover {
  opacity: 0.5;
  }
  
  .ril__closeButton {
  background:
  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=')
  no-repeat center;
  }
  
  .ril__zoomInButton {
  background:
  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+')
  no-repeat center;
  }
  
  .ril__zoomOutButton {
  background:
  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=')
  no-repeat center;
  }
  
  .ril__outerAnimating {
  -webkit-animation-name: closeWindow;
  animation-name: closeWindow;
  }
  
  @-webkit-keyframes pointFade {
  0%,
  19.999%,
  100% {
  opacity: 0;
  }
  20% {
  opacity: 1;
  }
  }
  
  @keyframes pointFade {
  0%,
  19.999%,
  100% {
  opacity: 0;
  }
  20% {
  opacity: 1;
  }
  }
  
  .ril__loadingCircle {
  width: 3.750em;
  height: 3.750em;
  position: relative;
  }
  
  .ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  }
  .ril__loadingCirclePoint::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 11%;
  height: 30%;
  background-color: rgb(228, 228, 228);
  border-radius: 30%;
  -webkit-animation: pointFade 800ms infinite ease-in-out both;
  animation: pointFade 800ms infinite ease-in-out both;
  }
  .ril__loadingCirclePoint:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  .ril__loadingCirclePoint:nth-of-type(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  }
  .ril__loadingCirclePoint:nth-of-type(1)::before,
  .ril__loadingCirclePoint:nth-of-type(7)::before {
  -webkit-animation-delay: -800ms;
  animation-delay: -800ms;
  }
  .ril__loadingCirclePoint:nth-of-type(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  }
  .ril__loadingCirclePoint:nth-of-type(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  }
  .ril__loadingCirclePoint:nth-of-type(2)::before,
  .ril__loadingCirclePoint:nth-of-type(8)::before {
  -webkit-animation-delay: -666ms;
  animation-delay: -666ms;
  }
  .ril__loadingCirclePoint:nth-of-type(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  }
  .ril__loadingCirclePoint:nth-of-type(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  }
  .ril__loadingCirclePoint:nth-of-type(3)::before,
  .ril__loadingCirclePoint:nth-of-type(9)::before {
  -webkit-animation-delay: -533ms;
  animation-delay: -533ms;
  }
  .ril__loadingCirclePoint:nth-of-type(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  }
  .ril__loadingCirclePoint:nth-of-type(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  }
  .ril__loadingCirclePoint:nth-of-type(4)::before,
  .ril__loadingCirclePoint:nth-of-type(10)::before {
  -webkit-animation-delay: -400ms;
  animation-delay: -400ms;
  }
  .ril__loadingCirclePoint:nth-of-type(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  }
  .ril__loadingCirclePoint:nth-of-type(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  }
  .ril__loadingCirclePoint:nth-of-type(5)::before,
  .ril__loadingCirclePoint:nth-of-type(11)::before {
  -webkit-animation-delay: -266ms;
  animation-delay: -266ms;
  }
  .ril__loadingCirclePoint:nth-of-type(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  }
  .ril__loadingCirclePoint:nth-of-type(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  }
  .ril__loadingCirclePoint:nth-of-type(6)::before,
  .ril__loadingCirclePoint:nth-of-type(12)::before {
  -webkit-animation-delay: -133ms;
  animation-delay: -133ms;
  }
  .ril__loadingCirclePoint:nth-of-type(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  }
  .ril__loadingCirclePoint:nth-of-type(13) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  .ril__loadingCirclePoint:nth-of-type(7)::before,
  .ril__loadingCirclePoint:nth-of-type(13)::before {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
  }
  
  .ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }
  .ril__imagePrev .ril__loadingContainer,
  .ril__imageNext .ril__loadingContainer {
  display: none;
  }
  
  .ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(228, 228, 228);
  }
  .ril__imagePrev .ril__errorContainer,
  .ril__imageNext .ril__errorContainer {
  display: none;
  }
  
  .ril__loadingContainer__icon {
    color: rgb(228, 228, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

/*======================
    La carte
=======================*/

.contenu.contenu-menu {
  margin-top: 2em;
  width: 70em;
}
.menudujour {
  
  display: flex;
  justify-content: stretch; 
  align-items: flex-start;
  border-left: 0.188em double #013848;
  width: 100%;
  
}
.carroussel {
  width: auto;
  display: flex;
}
.flexmode {
display: flex; 
}
.Ripple-parent {
  color: rgb(228, 228, 228);
}
ul.nav.md-pills.pills-secondary {
  background-color: #013848
}
.sep-menu {
  background-color: rgb(228, 228, 228);
}
ul.nav.md-pills.pills-secondary:first-child {
  padding-left: 25%;
}

.menu-styles { 
  background: rgba(228, 228, 228, 0.9) ; 
  width: 100%; 
  padding: 50px 40px;
  position: relative;
}

.menu-styles .menu-title {
    float: left;
    font-family: Montserrat, Lato;
    letter-spacing: 1px;
    color: #013848;
    padding: 0 10px 0 0;
}
.menu-styles .menu-subtitle {
    display: block;
    float:left;
    color: #009583;
    font-family: Lato, Montserrat,'Open Sans',arial;
    font-size: 0.9em;
    position: absolute;
    bottom: 20px;
}
.menu-styles .menu-price {
    font-weight: 600;
    float: right;
    padding: 0 0 0 10px;
    color: #013848;
}
.menu-styles:after{
  content: '';
  display: block;
  overflow: hidden;
  border-bottom: 1.5px dotted rgba(0,0,0,.3);
  height: 14px;
}
.tab-pane h1 {
  text-align: center;
  margin: 1em;
}



/* Large desktops and laptops */
@media (min-width: 1200px) {
  main.inner.cover {
   position: absolute;
   left: 50%;
 } 
  #logo {
    padding-top: 6em;
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   main.inner.cover {
    position: absolute;
    left: 40%; 
    
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  main.inner.cover {
    position: absolute;
    left: 40%; 
    width: 55%;
    height: 45em;
    top: 8em;
    
  }

}

/* Portrait phones and smaller */
@media (max-width: 767px) {
.navbar-mobile {
  margin-left: 0em;
  width: 20%;
  font-size: 8px;
}
.navbar-mobile img {
  display: none;
}
.cookies {
  height: 3em;
}
main.inner.cover {
  width: 18em;
  left: 15%;
  top: 8em;
  text-align: center;
}
p.lead.ml-4 {
  font-size: 12px
}
h1.panel.panel-default.ml-4 {
  font-size: 16px;
  padding-top: 2.5em
}
a.btn.btn-lg.btn-outline-success {
  font-size: 12px;
}
span#champ-email {
  width:2.599em;
  height: 2em;
}
input.btn.btn-primary {
  font-size: 12px
}
}



/*  #00b7a1 -> Couleur primary (vert clair)
   #009583 -> Couleur foncé (du gobelet)
   #013848 -> Vert très foncé 
   rgb(228, 228, 228) -> Blanc
*/











.wrap-menu{
		display:table;
		width:440px;
		max-width:440px;
		.category-item{
			width:80%;
			margin:0 auto;
			text-align:center;
			font-size: 36px;
			color:#cc9900;
			.ic-cate{
			display:inline-block;
			width:235px;
			height:27px;
			}
		}
		.row-menu-wrap{
			margin-bottom: 35px;
			.row-menu{
			display:table-row;
			.item-menu{
				display:table-cell;
				width:90%;
				font-size:21px;
				font-family:'yeseva';
		    color:#cc9900;
			}
			.item-prise{
				display:table-cell;
				font-size:21px;
				font-family:'yeseva';
				color:#cc9900;
			}
		}
		}
		
	}
	.gold-line{
		display:inline-block;
		width:100%;
		height:1px;
		margin-bottom:8px;
    background-color:#cc9900;
	}
	.item-descr{
		font-size:16px;
		font-family:'lato';
	}
